<h1>A breaking news item</h1>
<p>Some really breaking action</p>

<h1>Create a New Article</h1>
<%= form_for :article, url: articles_path do |f| %>
<p>
  <%= f.label :title %><br>
  <%= f.text_field :content %>
</p>
<p>
  <%= f.label :text %>
  <%= f.text_area :text %>
</p>
<p>
  <%= f.submit %> 
</p>
<% end %>