<!DOCTYPE html>
<html>
  <head>
    <title>AutChallengeApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%# Don't move the div class container it has to do with the padding of the article pages.. %>
  <div class="container"> 
    <%= yield %>
  </div>
  </body>
</html>
